<!-- Optional additional links to insert for icons links -->

<a id="instagram"
       class="icon" title="Instagram" aria-label="Instagram"
       href="http://www.instagram.com/carriecmyers">
      {% include svg/icons8-instagram.svg %}
    </a>

    <a id="linkedin"
       class="icon" title="LinkedIn" aria-label="LinkedIn"
       href="http://www.linkedin.com/in/ccmyers42">
      {% include svg/icons8-linkedin.svg %}
    </a>

    <a id="email"
       class="icon" title="email" aria-label="email"
       href="mailto:carrie@carriecmyers.net">
      {% include svg/icons8-email-96.png %}
    </a>