---
layout: default
---
<head>
    <style>
img {
    float: left
    margin-left: 50px
    width: 750px
}
    </style>
</head>

<body>
<div>
    <img src="https://github.com/cc115915/va2/blob/main/_images/headshot-drop-shadow.jpg" alt="Carrie Myers - Headshot">
<img src="https://github.com/cc115915/va2/blob/main/_images/hello-header.jpg" alt="hello!"
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor.</p>
</div>
</body>